@using ITMartinFileSorter.Application.Services
@inject DuplicateService DuplicateService

<div class="content-card">

    <div class="export-preview-header">
        <strong>Preview of exported structure</strong>
    </div>

    <div class="card-body">

        <div>FilesToExport count: @DuplicateService.FilesToExport.Count()</div>

        @foreach (var file in DuplicateService.FilesToExport)
        {
            <div>
                📄 @file.FileName
                | @file.MainCategory
                | @file.Year/@file.Month
            </div>
        }

    </div>

</div>