@page "/images/{SubCategory}"

@using ITMartinFileSorter.Domain.Enums
@using ITMartinFileSorter.Domain.Entities
@using ITMartinFileSorter.Application.Services

@inject DuplicateService DuplicateService

<h3>@SubCategory</h3>

<div class="category-page">
    @foreach (var file in Files)
    {
        <div class="file-card p-2 text-center">

            <img src="@file.WorkingPath">

            <div>
                @file.FileName
            </div>

        </div>
    }

</div>

@code {

    [Parameter]
    public string SubCategory { get; set; }

    List<MediaFile> Files =>
        DuplicateService.AllFiles
            .Where(f =>
                f.MainCategory == MediaMainCategory.Image &&
                f.SubCategory.ToString() == SubCategory)
            .OrderByDescending(f => f.CreatedAt)
            .ToList();

}